<center>
    <img src="https://gitlab.com/ibm/skills-network/courses/placeholder101/-/raw/master/labs/module%201/images/IDSNlogo.png"  width="300" alt="cognitiveclass.ai logo"  />
</center>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction

Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones.

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage.

Therefore if we can determine if the first stage will land, we can determine the cost of a launch.

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

<a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2021-01-01" target="_blank">Spacex DataSet</a>

### Store the dataset in database table

**it is highly recommended to manually load the table using the database console LOAD tool in DB2**.

<img src = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/spacexload.png">

Now open the Db2 console, open the LOAD tool, Select / Drag the .CSV file for the  dataset, Next create a New Table, and then follow the steps on-screen instructions to load the data. Name the new table as follows:

**SPACEXDATASET**

**Follow these steps while using old DB2 UI which is having Open Console Screen**

**Note:While loading Spacex dataset, ensure that detect datatypes is disabled. Later click on the pencil icon(edit option).**

1.  Change the Date Format by manually typing DD-MM-YYYY and timestamp format as DD-MM-YYYY HH\:MM:SS.

    Here you should place the cursor at Date field and manually type as DD-MM-YYYY.

2.  Change the PAYLOAD_MASS\_\_KG\_  datatype  to INTEGER.

<img src = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/spacexload2.png">

**Changes to be considered when having DB2 instance with the new UI having Go to UI screen**

*   Refer to this insruction in this <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sign%20up%20for%20IBM%20Cloud%20-%20Create%20Db2%20service%20instance%20-%20Get%20started%20with%20the%20Db2%20console/instructional-labs.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2021-01-01">link</a> for viewing  the new  Go to UI screen.

*   Later click on **Data link(below SQL)**  in the Go to UI screen  and click on **Load Data** tab.

*   Later browse for the downloaded spacex file.

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/browsefile.png" width="800"/>

*   Once done select the schema andload the file.

 <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/spacexload3.png" width="800"/>

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [2]:
pip install duckdb

Requirement already satisfied: duckdb in c:\users\admin\anaconda3\lib\site-packages (0.2.6)
Requirement already satisfied: numpy>=1.14 in c:\users\admin\anaconda3\lib\site-packages (from duckdb) (1.19.2)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas
# import duckdb

**DB2 magic in case of old UI service credentials.**

In the next cell enter your db2 connection string. Recall you created Service Credentials for your Db2 instance before. From the **uri** field of your Db2 service credentials copy everything after db2:// (except the double quote at the end) and paste it in the cell below after ibm_db_sa://

<img src ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_edX/images/URI.jpg">

in the following format

**%sql ibm_db_sa://my-username:my-password\@my-hostname:my-port/my-db-name**

**DB2 magic in case of new UI service credentials.**

<img src ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/servicecredentials.png" width=600>  

*   Use the following format.

*   Add security=SSL at the end

**%sql ibm_db_sa://my-username:my-password\@my-hostname:my-port/my-db-name?security=SSL**

In [38]:
df=pandas.read_csv('SpaceX.csv')
df.head()

,Date,Time (UTC),Booster_Version,Launch_Site,Payload,PAYLOAD_MASS__KG_,Orbit,Customer,Mission_Outcome,Landing _Outcome
0,04-06-2010,18:45:00,F9 v1.0 B0003,CCAFS LC-40,Dragon Spacecraft Qualification Unit,0,LEO,SpaceX,Success,Failure (parachute)
1,08-12-2010,15:43:00,F9 v1.0 B0004,CCAFS LC-40,"Dragon demo flight C1, two CubeSats, barrel of...",0,LEO (ISS),NASA (COTS) NRO,Success,Failure (parachute)
2,22-05-2012,07:44:00,F9 v1.0 B0005,CCAFS LC-40,Dragon demo flight C2,525,LEO (ISS),NASA (COTS),Success,No attempt
3,08-10-2012,00:35:00,F9 v1.0 B0006,CCAFS LC-40,SpaceX CRS-1,500,LEO (ISS),NASA (CRS),Success,No attempt
4,01-03-2013,15:10:00,F9 v1.0 B0007,CCAFS LC-40,SpaceX CRS-2,677,LEO (ISS),NASA (CRS),Success,No attempt

In [20]:
import pandas as pd
import pandasql as ps
import numpy as np

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

### Task 1

##### Display the names of the unique launch sites  in the space mission

In [26]:
q1 = """SELECT DISTINCT  Launch_Site FROM df """

print(ps.sqldf(q1, locals()))

    Launch_Site
0   CCAFS LC-40
1   VAFB SLC-4E
2    KSC LC-39A
3  CCAFS SLC-40

### Task 2

##### Display 5 records where launch sites begin with the string 'CCA'

In [33]:
q2='''
        SELECT * FROm df WHERE Launch_Site LIKE '%CCA%' '''
print(ps.sqldf(q2,locals()))

          Date Time (UTC) Booster_Version   Launch_Site  \
0   04-06-2010   18:45:00  F9 v1.0  B0003   CCAFS LC-40
1   08-12-2010   15:43:00  F9 v1.0  B0004   CCAFS LC-40
2   22-05-2012   07:44:00  F9 v1.0  B0005   CCAFS LC-40
3   08-10-2012   00:35:00  F9 v1.0  B0006   CCAFS LC-40
4   01-03-2013   15:10:00  F9 v1.0  B0007   CCAFS LC-40
5   03-12-2013   22:41:00         F9 v1.1   CCAFS LC-40
6   06-01-2014   22:06:00         F9 v1.1   CCAFS LC-40
7   18-04-2014   19:25:00         F9 v1.1   CCAFS LC-40
8   14-07-2014   15:15:00         F9 v1.1   CCAFS LC-40
9   05-08-2014   08:00:00         F9 v1.1   CCAFS LC-40
10  07-09-2014   05:00:00   F9 v1.1 B1011   CCAFS LC-40
11  21-09-2014   05:52:00   F9 v1.1 B1010   CCAFS LC-40
12  10-01-2015   09:47:00   F9 v1.1 B1012   CCAFS LC-40
13  11-02-2015   23:03:00   F9 v1.1 B1013   CCAFS LC-40
14  02-03-2015   03:50:00   F9 v1.1 B1014   CCAFS LC-40
15  14-04-2015   20:10:00   F9 v1.1 B1015   CCAFS LC-40
16  27-04-2015   23:03:00   F9 v1.1 B1016   CCAFS LC-40
17  28-06-2015   14:21:00   F9 v1.1 B1018   CCAFS LC-40
18  22-12-2015   01:29:00     F9 FT B1019   CCAFS LC-40
19  04-03-2016   23:35:00     F9 FT B1020   CCAFS LC-40
20  08-04-2016   20:43:00   F9 FT B1021.1   CCAFS LC-40
21  06-05-2016   05:21:00     F9 FT B1022   CCAFS LC-40
22  27-05-2016   21:39:00   F9 FT B1023.1   CCAFS LC-40
23  15-06-2016   14:29:00     F9 FT B1024   CCAFS LC-40
24  18-07-2016   04:45:00   F9 FT B1025.1   CCAFS LC-40
25  14-08-2016   05:26:00     F9 FT B1026   CCAFS LC-40
26  15-12-2017   15:36:00  F9 FT  B1035.2  CCAFS SLC-40
27  08-01-2018   01:00:00   F9 B4 B1043.1  CCAFS SLC-40
28  31-01-2018   21:25:00  F9 FT  B1032.2  CCAFS SLC-40
29  06-03-2018   05:33:00     F9 B4 B1044  CCAFS SLC-40
30  02-04-2018   20:30:00  F9 B4  B1039.2  CCAFS SLC-40
31  18-04-2018   22:51:00   F9 B4 B1045.1  CCAFS SLC-40
32  04-06-2018   04:45:00  F9 B4  B1040.2  CCAFS SLC-40
33  29-06-2018   09:42:00   F9 B4 B1045.2  CCAFS SLC-40
34  22-07-2018   05:50:00    F9 B5B1047.1  CCAFS SLC-40
35  07-08-2018   05:18:00   F9 B5 B1046.2  CCAFS SLC-40
36  10-09-2018   04:45:00    F9 B5B1049.1  CCAFS SLC-40
37  05-12-2018   18:16:00      F9 B5B1050  CCAFS SLC-40
38  23-12-2018   13:51:00      F9 B5B1054  CCAFS SLC-40
39  22-02-2019   01:45:00   F9 B5 B1048.3  CCAFS SLC-40
40  04-05-2019   06:48:00   F9 B5B1056.1   CCAFS SLC-40
41  24-05-2019   02:30:00   F9 B5 B1049.3  CCAFS SLC-40
42  25-07-2019   22:01:00  F9 B5 B1056.2   CCAFS SLC-40
43  06-08-2019   23:23:00  F9 B5 B1047.3   CCAFS SLC-40
44  11-11-2019   14:56:00   F9 B5 B1048.4  CCAFS SLC-40
45  05-12-2019   17:29:00    F9 B5B1059.1  CCAFS SLC-40
46  17-12-2019   00:10:00  F9 B5 B1056.3   CCAFS SLC-40
47  07-01-2020   02:33:00   F9 B5 B1049.4  CCAFS SLC-40
48  29-01-2020   14:07:00   F9 B5 B1051.3  CCAFS SLC-40
49  17-02-2020   15:05:00   F9 B5 B1056.4  CCAFS SLC-40
50  07-03-2020   04:50:00   F9 B5 B1059.2  CCAFS SLC-40
51  04-06-2020   01:25:00   F9 B5 B1049.5  CCAFS SLC-40
52  13-06-2020   09:21:00   F9 B5 B1059.3  CCAFS SLC-40
53  30-06-2020   20:10:46    F9 B5B1060.1  CCAFS SLC-40
54  20-07-2020   21:30:00  F9 B5 B1058.2   CCAFS SLC-40
55  18-08-2020   14:31:00   F9 B5 B1049.6  CCAFS SLC-40
56  30-08-2020   23:18:00   F9 B5 B1059.4  CCAFS SLC-40
57  24-10-2020   15:31:34   F9 B5 B1060.3  CCAFS SLC-40
58  05-11-2020   23:24:23    F9 B5B1062.1  CCAFS SLC-40
59  25-11-2020   02:13:00  F9 B5 B1049.7   CCAFS SLC-40

                                              Payload  PAYLOAD_MASS__KG_  \
0                Dragon Spacecraft Qualification Unit                  0
1   Dragon demo flight C1, two CubeSats, barrel of...                  0
2                               Dragon demo flight C2                525
3                                        SpaceX CRS-1                500
4                                        SpaceX CRS-2                677
5                                               SES-8               3170
6                                           Thaicom 6               3325
7                                        SpaceX CRS-3               2296
8             OG2 Mission 1  6 Orbcomm-OG2 satellites               1316
9                                           AsiaSat 8               4535
10                                          AsiaSat 6               4428
11                                       SpaceX CRS-4               2216
12                                       SpaceX CRS-5               2395
13                                             DSCOVR                570
14                         ABS-3A Eutelsat 115 West B               4159
15                                       SpaceX CRS-6               1898
16                             Turkmen 52 / MonacoSAT               4707
17                                       SpaceX CRS-7               1952
18           OG2 Mission 2  11 Orbcomm-OG2 satellites               2034
19                                              SES-9               5271
20                                       SpaceX CRS-8               3136
21                                           JCSAT-14               4696
22                                          Thaicom 8               3100
23                         ABS-2A Eutelsat 117 West B               3600
24                                       SpaceX CRS-9               2257
25                                           JCSAT-16               4600
26                                      SpaceX CRS-13               2205
27                                               Zuma               5000
28                                  GovSat-1 / SES-16               4230
29                             Hispasat 30W-6  PODSat               6092
30                                      SpaceX CRS-14               2647
31       Transiting Exoplanet Survey Satellite (TESS)                362
32                                             SES-12               5384
33                                      SpaceX CRS-15               2697
34                                        Telstar 19V               7075
35                                       Merah Putih                5800
36                            Telstar 18V / Apstar-5C               7060
37                                      SpaceX CRS-16               2500
38                                        GPS III-01                4400
39          Nusantara Satu, Beresheet Moon lander, S5               4850
40                       SpaceX CRS-17, Starlink v0.9               2495
41              Starlink v0.9, RADARSAT Constellation              13620
42                            SpaceX CRS-18, AMOS-17                2268
43                          AMOS-17, Starlink 1 v1.0                6500
44                    Starlink 1 v1.0, SpaceX CRS-19               15600
45               SpaceX CRS-19, JCSat-18 / Kacific 1                2617
46             JCSat-18 / Kacific 1, Starlink 2 v1.0                6956
47  Starlink 2 v1.0, Crew Dragon in-flight abort t...              15600
48                  Starlink 3 v1.0, Starlink 4 v1.0               15600
49                     Starlink 4 v1.0, SpaceX CRS-20              15600
50                    SpaceX CRS-20, Starlink 5 v1.0                1977
51                   Starlink 7 v1.0, Starlink 8 v1.0              15600
52  Starlink 8 v1.0, SkySats-16, -17, -18, GPS III...              15410
53                              GPS III-03, ANASIS-II               4311
54                         ANASIS-II, Starlink 9 v1.0               5500
55  Starlink 10 v1.0, SkySat-19, -20, -21, SAOCOM 1B               15440
56                    SAOCOM 1B, GNOMES 1, Tyvak-0172               3130
57                     Starlink 14 v1.0, GPS III-04                15600
58                                GPS III-04 , Crew-1               4311
59                    Starlink 15 v1.0, SpaceX CRS-21              15600

        Orbit                                           Customer  \
0         LEO                                             SpaceX
1   LEO (ISS)                                    NASA (COTS) NRO
2   LEO (ISS)                                        NASA (COTS)
3   LEO (ISS)                                         NASA (CRS)
4   LEO (ISS)                                         NASA (CRS)
5         GTO                                                SES
6         GTO                                            Thaicom
7   LEO (ISS)                                         NASA (CRS)
8         LEO                                            Orbcomm
9         GTO                                            AsiaSat
10        GTO                                            AsiaSat
11  LEO (ISS)                                         NASA (CRS)
12  LEO (ISS)                                         NASA (CRS)
13        HEO                           U.S. Air Force NASA NOAA
14        GTO                                       ABS Eutelsat
15  LEO (ISS)                                         NASA (CRS)
16        GTO                 Turkmenistan National Space Agency
17  LEO (ISS)                                         NASA (CRS)
18        LEO                                            Orbcomm
19        GTO                                                SES
20  LEO (ISS)                                         NASA (CRS)
21        GTO                             SKY Perfect JSAT Group
22        GTO                                            Thaicom
23        GTO                                       ABS Eutelsat
24  LEO (ISS)                                         NASA (CRS)
25        GTO                             SKY Perfect JSAT Group
26  LEO (ISS)                                         NASA (CRS)
27        LEO                                   Northrop Grumman
28        GTO                                                SES
29        GTO                                Hispasat  NovaWurks
30  LEO (ISS)                                         NASA (CRS)
31        HEO                                         NASA (LSP)
32        GTO                                                SES
33  LEO (ISS)                                         NASA (CRS)
34        GTO                                            Telesat
35        GTO                                   Telkom Indonesia
36        GTO                                            Telesat
37  LEO (ISS)                                         NASA (CRS)
38        MEO                                               USAF
39        GTO                                 PSN, SpaceIL / IAI
40  LEO (ISS)                                         NASA (CRS)
41        LEO                                             SpaceX
42  LEO (ISS)                                         NASA (CRS)
43        GTO                                           Spacecom
44        LEO                                             SpaceX
45  LEO (ISS)                              NASA (CRS), Kacific 1
46        GTO                        Sky Perfect JSAT, Kacific 1
47        LEO                                             SpaceX
48        LEO                                             SpaceX
49        LEO                                             SpaceX
50  LEO (ISS)                                         NASA (CRS)
51        LEO                                SpaceX, Planet Labs
52        LEO                                SpaceX, Planet Labs
53        MEO                                   U.S. Space Force
54        GTO  Republic of Korea Army, Spaceflight Industries...
55        LEO                      SpaceX, Planet Labs, PlanetIQ
56        SSO                            CONAE, PlanetIQ, SpaceX
57        LEO                                             SpaceX
58        MEO                                               USSF
59        LEO                                             SpaceX

                     Mission_Outcome        Landing _Outcome
0                            Success     Failure (parachute)
1                            Success     Failure (parachute)
2                            Success              No attempt
3                            Success              No attempt
4                            Success              No attempt
5                            Success              No attempt
6                            Success              No attempt
7                            Success      Controlled (ocean)
8                            Success      Controlled (ocean)
9                            Success              No attempt
10                           Success              No attempt
11                           Success    Uncontrolled (ocean)
12                           Success    Failure (drone ship)
13                           Success      Controlled (ocean)
14                           Success              No attempt
15                           Success    Failure (drone ship)
16                           Success              No attempt
17               Failure (in flight)  Precluded (drone ship)
18                           Success    Success (ground pad)
19                           Success    Failure (drone ship)
20                           Success    Success (drone ship)
21                           Success    Success (drone ship)
22                           Success    Success (drone ship)
23                           Success    Failure (drone ship)
24                           Success    Success (ground pad)
25                           Success    Success (drone ship)
26                           Success    Success (ground pad)
27  Success (payload status unclear)    Success (ground pad)
28                           Success      Controlled (ocean)
29                           Success              No attempt
30                           Success              No attempt
31                           Success    Success (drone ship)
32                           Success              No attempt
33                           Success              No attempt
34                           Success                 Success
35                           Success                 Success
36                           Success                 Success
37                           Success                 Failure
38                          Success               No attempt
39                           Success                 Success
40                           Success                 Success
41                           Success                 Success
42                           Success                 Success
43                           Success             No attempt
44                           Success                 Success
45                           Success                 Success
46                           Success                 Success
47                           Success                 Success
48                           Success                 Success
49                           Success                 Failure
50                           Success                 Success
51                           Success                 Success
52                           Success                 Success
53                           Success                 Success
54                           Success                 Success
55                           Success                 Success
56                           Success                 Success
57                           Success                 Success
58                           Success                 Success
59                           Success                 Success

### Task 3

##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [44]:
q2='''
        SELECT sum (PAYLOAD_MASS__KG_) FROm df WHERE Customer LIKE '%NASA%' '''
print(ps.sqldf(q2,locals()))

   sum (PAYLOAD_MASS__KG_)
0                   107010

### Task 4

##### Display average payload mass carried by booster version F9 v1.1

In [49]:
q2='''
        SELECT AVG(PAYLOAD_MASS__KG_) FROm df WHERE Booster_Version LIKE '%F9 v1.1%' '''
print(ps.sqldf(q2,locals()))

   AVG(PAYLOAD_MASS__KG_)
0             2534.666667

### Task 5

##### List the date when the first successful landing outcome in ground pad was acheived.

*Hint:Use min function*

In [51]:
df.head(2)

,Date,Time (UTC),Booster_Version,Launch_Site,Payload,PAYLOAD_MASS__KG_,Orbit,Customer,Mission_Outcome,Landing _Outcome
0,04-06-2010,18:45:00,F9 v1.0 B0003,CCAFS LC-40,Dragon Spacecraft Qualification Unit,0,LEO,SpaceX,Success,Failure (parachute)
1,08-12-2010,15:43:00,F9 v1.0 B0004,CCAFS LC-40,"Dragon demo flight C1, two CubeSats, barrel of...",0,LEO (ISS),NASA (COTS) NRO,Success,Failure (parachute)

In [56]:
q2='''
        SELECT * FROm df WHERE Mission_Outcome LIKE '%Success%'
                ORDER BY Date ASC LIMIT 5 '''
print(ps.sqldf(q2,locals()))

         Date Time (UTC) Booster_Version   Launch_Site  \
0  01-03-2013   15:10:00  F9 v1.0  B0007   CCAFS LC-40
1  01-05-2017   11:15:00   F9 FT B1032.1    KSC LC-39A
2  02-03-2015   03:50:00   F9 v1.1 B1014   CCAFS LC-40
3  02-03-2019   07:49:00    F9 B5B1051.1    KSC LC-39A
4  02-04-2018   20:30:00  F9 B4  B1039.2  CCAFS SLC-40

                              Payload  PAYLOAD_MASS__KG_      Orbit  \
0                        SpaceX CRS-2                677  LEO (ISS)
1                             NROL-76               5300        LEO
2          ABS-3A Eutelsat 115 West B               4159        GTO
3  Crew Dragon Demo-1, SpaceX CRS-17               12055  LEO (ISS)
4                       SpaceX CRS-14               2647  LEO (ISS)

       Customer Mission_Outcome      Landing _Outcome
0    NASA (CRS)         Success            No attempt
1           NRO         Success  Success (ground pad)
2  ABS Eutelsat         Success            No attempt
3   NASA (CCD)          Success               Success
4    NASA (CRS)         Success            No attempt

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [57]:
df.head(2)

,Date,Time (UTC),Booster_Version,Launch_Site,Payload,PAYLOAD_MASS__KG_,Orbit,Customer,Mission_Outcome,Landing _Outcome
0,04-06-2010,18:45:00,F9 v1.0 B0003,CCAFS LC-40,Dragon Spacecraft Qualification Unit,0,LEO,SpaceX,Success,Failure (parachute)
1,08-12-2010,15:43:00,F9 v1.0 B0004,CCAFS LC-40,"Dragon demo flight C1, two CubeSats, barrel of...",0,LEO (ISS),NASA (COTS) NRO,Success,Failure (parachute)

In [60]:
q2='''
        SELECT DISTINCT Booster_Version FROm df WHERE 
                (PAYLOAD_MASS__KG_ >4000) & (PAYLOAD_MASS__KG_<6000)
                '''
print(ps.sqldf(q2,locals()))

   Booster_Version
0          F9 v1.1
1    F9 v1.1 B1011
2    F9 v1.1 B1014
3    F9 v1.1 B1016
4      F9 FT B1020
5      F9 FT B1022
6      F9 FT B1026
7      F9 FT B1030
8   F9 FT  B1021.2
9    F9 FT B1032.1
10   F9 B4 B1040.1
11  F9 FT  B1031.2
12   F9 B4 B1043.1
13  F9 FT  B1032.2
14  F9 B4  B1040.2
15   F9 B5 B1046.2
16   F9 B5 B1047.2
17      F9 B5B1054
18   F9 B5 B1048.3
19  F9 B5 B1051.2
20    F9 B5B1060.1
21  F9 B5 B1058.2
22    F9 B5B1062.1

### Task 7

##### List the total number of successful and failure mission outcomes

In [61]:
df.head(2)

,Date,Time (UTC),Booster_Version,Launch_Site,Payload,PAYLOAD_MASS__KG_,Orbit,Customer,Mission_Outcome,Landing _Outcome
0,04-06-2010,18:45:00,F9 v1.0 B0003,CCAFS LC-40,Dragon Spacecraft Qualification Unit,0,LEO,SpaceX,Success,Failure (parachute)
1,08-12-2010,15:43:00,F9 v1.0 B0004,CCAFS LC-40,"Dragon demo flight C1, two CubeSats, barrel of...",0,LEO (ISS),NASA (COTS) NRO,Success,Failure (parachute)

In [67]:
q2='''
        SELECT Mission_Outcome,COUNT(Mission_Outcome) FROM df GROUP BY Mission_Outcome
                '''
print(ps.sqldf(q2,locals()))

                    Mission_Outcome  COUNT(Mission_Outcome)
0               Failure (in flight)                       1
1                           Success                      98
2                          Success                        1
3  Success (payload status unclear)                       1

### Task 8

##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [69]:
q2='''
        SELECT Booster_Version, MAX(PAYLOAD_MASS__KG_) FROM df
                '''
print(ps.sqldf(q2,locals()))

  Booster_Version  MAX(PAYLOAD_MASS__KG_)
0   F9 B5 B1048.4                   15600

### Task 9

##### List the failed landing_outcomes in drone ship, their booster versions, and launch site names for in year 2015

In [81]:
df.head(2)

,Date,Time (UTC),Booster_Version,Launch_Site,Payload,PAYLOAD_MASS__KG_,Orbit,Customer,Mission_Outcome,Landing_Outcome
0,04-06-2010,18:45:00,F9 v1.0 B0003,CCAFS LC-40,Dragon Spacecraft Qualification Unit,0,LEO,SpaceX,Success,Failure (parachute)
1,08-12-2010,15:43:00,F9 v1.0 B0004,CCAFS LC-40,"Dragon demo flight C1, two CubeSats, barrel of...",0,LEO (ISS),NASA (COTS) NRO,Success,Failure (parachute)

In [80]:
q2='''
        SELECT DISTINCT Landing_Outcome FROM df WHERE (Landing_Outcome LIKE '%Fail%') & 
                '''
print(ps.sqldf(q2,locals()))

PandaSQLException: (sqlite3.OperationalError) no such function: YEAR
[SQL:
        SELECT DISTINCT Landing_Outcome FROM df WHERE (Landing_Outcome LIKE '%Fail%') & (YEAR(Date) in ('2015'))
                ]
(Background on this error at: http://sqlalche.me/e/e3q8)

### Task 10

##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order

### Reference Links

*   <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2021-01-01&origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>

*   <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2021-01-01&origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*   <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2021-01-01&origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2021-01-01">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*   <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2021-01-01">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

## Change log

| Date       | Version | Changed by    | Change Description        |
| ---------- | ------- | ------------- | ------------------------- |
| 2021-10-12 | 0.4     | Lakshmi Holla | Changed markdown          |
| 2021-08-24 | 0.3     | Lakshmi Holla | Added library update      |
| 2021-07-09 | 0.2     | Lakshmi Holla | Changes made in magic sql |
| 2021-05-20 | 0.1     | Lakshmi Holla | Created Initial Version   |

## <h3 align="center"> © IBM Corporation 2021. All rights reserved. <h3/>